table {
  width: 100%;
}
tr.mat-footer-row {
  font-weight: bold;
}

.columns {
  text-align: center;
}

.footer-row {
  font-weight: 700;
  height: 40px;
  font-size: larger;
}

.td .custom {
  rowspan: 2;
}
