<div class="export-container">
  <button mat-raised-button color="primary" class="trans-button" (click)="exportExcel()">
    Export
  </button>
  <button mat-raised-button color="primary" class="trans-button" (click)="addTransaction()">
    Add
  </button>
  <button mat-raised-button color="primary" class="trans-button" (click)="exportPdf()">
    Print
  </button>
</div>
<p-table id="funds" [columns]="cols" [value]="transactions" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr *ngFor="let asset of rowData.assets; let i = index" [ngSwitch]="i">
      <ng-template [ngSwitchCase]="0">
        <td [class]="rowData.invno">{{ rowData.invno }}</td>
        <td [class]="rowData.invno">{{ rowData.date }}</td>
        <td [class]="rowData.invno">{{ rowData.hsn }}</td>
        <td [class]="rowData.invno">{{ rowData.particulars }}</td>
        <td>{{ rowData.assets[i].pairs }}</td>
        <td>{{ rowData.assets[i].rate }}</td>
        <td [class]="rowData.invno">{{ rowData.amount }}</td>
        <td [class]="rowData.invno">{{ rowData.cgst }}</td>
        <td [class]="rowData.invno">{{ rowData.sgst }}</td>
        <td [class]="rowData.invno">{{ rowData.igst }}</td>
        <td [class]="rowData.invno">{{ rowData.grandTotal }}</td>
      </ng-template>
      <ng-template [ngSwitchDefault]>
        <td>{{ rowData.assets[i].pairs }}</td>
        <td>{{ rowData.assets[i].rate }}</td>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <tr class="footer-row columns">
      <td *ngFor="let col of columns" [ngSwitch]="col.footer">
        <ng-template [ngSwitchCase]="'sum'">
          <b>{{ getTotalOfField(col.field) }}</b>
        </ng-template>
        <ng-template [ngSwitchDefault]>
          <b>{{ col.footer }}</b>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
