table {
  width: 100%;
}
tr.mat-footer-row {
  font-weight: bold;
}

.columns {
  text-align: center;
  background-color: white !important;
}

.footer-row {
  font-weight: 700;
  height: 40px;
  font-size: larger;
}

.trans-button {
  margin-right: 10px;
  margin-top: 5px;
}

.export-container {
  text-align: center;
}

.options {
  font-size: small;
  text-align: center;
  margin-top: 10px;
}
