<div class="export-container">
  <button mat-raised-button color="primary" class="trans-button" (click)="exportExcel()">
    Export
  </button>
  <button mat-raised-button color="primary" class="trans-button" (click)="addTransaction()">
    Add
  </button>
  <button mat-raised-button color="primary" class="trans-button" (click)="exportPdf()">
    Print
  </button>
</div>
<p-table id="funds" [columns]="cols" [value]="transactions" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr *ngFor="let asset of rowData.assets; let i = index">
      <ng-container
        *ngTemplateOutlet="
          i === 0 ? normal : spanrow;
          context: {
            rowData: rowData,
            columns: columns,
            asset: asset
          }
        "
      ></ng-container>
    </tr>
  </ng-template>
  <ng-template #normal let-rowData="rowData" let-columns="columns" let-asset="asset" let-item>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.invno }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.date }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.hsn }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.particulars }}</td>
    <td>{{ asset.pairs }}</td>
    <td>{{ asset.rate }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.amount }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.cgst }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.sgst }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.igst }}</td>
    <td [attr.rowspan]="rowData.assets.length">{{ rowData.grandTotal }}</td>
  </ng-template>
  <ng-template #spanrow let-rowData="rowData" let-columns="columns" let-asset="asset" let-item>
    <td>{{ asset.pairs }}</td>
    <td>{{ asset.rate }}</td>
  </ng-template>
  <ng-template #assetcol let-data="data" let-item>
    <td>{{ data }}</td>
  </ng-template>
  <ng-template #normalCol let-data="data" let-span="span" let-item>
    <td [attr.rowspan]="span">{{ data }}</td>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
    <tr class="footer-row columns">
      <td *ngFor="let col of columns" [ngSwitch]="col.footer">
        <ng-template [ngSwitchCase]="'sum'">
          <b>{{ getTotalOfField(col.field) }}</b>
        </ng-template>
        <ng-template [ngSwitchDefault]>
          <b>{{ col.footer }}</b>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
