<div>
  <form [formGroup]="addForm" class="formClass">
    <mat-form-field style="width: 80px;">
      <input matInput type="number" placeholder="Invoive No." formControlName="invno" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Date" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 50px;"> 
      <input matInput type="number" placeholder="HSN" formControlName="hsn"/>
    </mat-form-field>
    <mat-form-field style="width: 400px;">
      <input matInput placeholder="Particulars" formControlName="particulars" />
    </mat-form-field>
    <div>
      <mat-checkbox style="margin-right: 10px" color="primary" formControlName="isIgst"
        >Is Igst?</mat-checkbox
      >
    </div>
    <div formArrayName="assets" *ngFor="let item of addForm.get('assets')['controls']; let i = index">
      <div [formGroupName]="i">
        <mat-form-field style="width: 100px;">
          <input matInput type="number" placeholder="Pairs" formControlName="pairs" />
        </mat-form-field>
        <mat-form-field style="width: 100px;"> 
          <input matInput type="number" placeholder="Rate" formControlName="rate" />
        </mat-form-field>
        <button *ngIf="i === 0" (click)="addAsset()" mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="removeAsset(i)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-form-field>
      <input matInput placeholder="Amount" readonly formControlName="amount" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CGST" readonly formControlName="cgst" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="SGST" readonly formControlName="sgst" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="IGST" readonly formControlName="igst" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Grand Total" readonly formControlName="grandTotal" />
    </mat-form-field>
    <div class="export-container">
      <button
        mat-raised-button
        style="margin-right: 10px"
        color="primary"
        (click)="onSubmit(addForm.value)"
        [disabled]="!addForm.valid"
      >
        Submit
      </button>
      <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
